@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 800px;
    margin: auto;
    font-family: arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

#banner{
    height: 100px;
    background-color: aquamarine;
    margin-top: 10px;
}

#menu{
    height: 40px;
    margin: 10px 0px 10px 0px;
    background-color: burlywood;
}

#wrapper{
    height: 400px;

}

#left{
    float: left;
    width: 200px;
    height: 400px;
    background-color: cadetblue;
}

#content{
    float: left;
    width: 400px;
    height: 400px;
    background-color: darkgray;
}

#right{
    float: left;
    width: 200px;
    height: 400px;
    background-color: cadetblue;
}

#footer{
    background-color: aquamarine;
    margin: 10px 0px 10px 0px;
    height: 100px;
}

.clear-fix{
    clear: both;
}